/* 动画初始阶段 -- enter */
.fade_enter, 
.fade_appear {
  opacity: 0;
}
// 动画激活阶段-- enter-active
.fade_enter_active, .fade_appear_active {
  opacity: 1;
  transform: transition(opacity .5s cubic-bezier(.645, .045, .355, 1) .5s);
}
// 动画结束阶段 -- enter-done
.fade_enter_done {
  opacity: 0;
}

.fade_exit {
  opacity: 1;
  z-index: 99;
  transform: translateX(0);
}
.fade_exit_active {
  opacity: 0;
  z-index: 99;
  transition: all .5s;
  transform: translateX(50px);
}
.fade_exit_done {
  opacity: 1;
}

@keyframes keepAliveFade {
  0% { 
    opacity: 0; 
    z-index: 100;
    transform: translateX(-50px);
  }
  100% { 
    opacity: 1; 
    z-index: 100;
    transform: translateX(0);
  }
}
.layout_container {
  position: absolute;
  left: 32px;
  right: 32px;
  top: 32px;
  bottom: 32px;
  &.keep_alive_fade { animation: keepAliveFade .5s ease-in-out; }
}