.content {
    height: 100%;
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        :global {
            .ant-space-item {
                display: flex;
                cursor: pointer;
                transition: transform .2s;
            }
            .ant-space-item:hover {
                transform: scale(1.2);
            }
        }
        .avatar {
            font-size: 14px;
            line-height: 36px;
            width: 40px;
            height: 40px;
            background-color: #fde3cf;
            color: #f56a00;
            cursor: pointer;
            transition: transform .2s; 
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .siders {
        :global(.ant-menu-submenu-title){
            margin-bottom: 0 !important;
        }
    }
    .logo {
        float: left;
        height: 31px;
        margin: 14px 0 16px 0;
        text-align: center;
        display: flex;
        color: white;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        left: -25px;
    }

    .loginOut {
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        margin-left: 10px
    }
    .loginOut:hover {
        color: #1677ff;
    }
}

